EngineImports/Importar CSV Pagatudo - Código 3.json
{
    "name": "Importar CSV Pagatudo - Código 3",
    "flow": [
        {
            "id": 1,
            "module": "google-drive:TriggerNewFile",
            "version": 3,
            "parameters": {
                "watch": "onlyNew",
                "account": 1032006,
                "folderId": "/13YrVQpOBj0BjBy4VrRdluAeYCKbFYH48/12k4ACJsF_tyPrGFOZQY2tR3ccVF0DDvm/1BA4ZABP4yJ6AcwGmJKu91EtflKVSoG4G",
                "mimeType": "all",
                "maxResults": 2,
                "formatDrawings": "image/jpeg",
                "formatDocuments": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                "formatSpreadsheets": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                "formatPresentations": "application/vnd.openxmlformats-officedocument.presentationml.presentation"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "watch": {
                        "label": "New files and all changes"
                    },
                    "account": {
                        "label": "My Google connection (khyquer.oliveira@gmail.com)"
                    },
                    "folderId": {
                        "path": [
                            "Desafio ZG",
                            "Input",
                            "pagatudo"
                        ]
                    },
                    "mimeType": {
                        "label": "All"
                    },
                    "formatDrawings": {
                        "label": "JPEG"
                    },
                    "formatDocuments": {
                        "label": "MS Word Document"
                    },
                    "formatSpreadsheets": {
                        "label": "MS Excel"
                    },
                    "formatPresentations": {
                        "label": "MS PowerPoint"
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "mimeType",
                        "type": "select",
                        "label": "What files to watch",
                        "required": true,
                        "validate": {
                            "enum": [
                                "all",
                                "application/vnd.google-apps.document",
                                "application/vnd.google-apps.spreadsheet",
                                "application/vnd.google-apps.presentation",
                                "application/vnd.google-apps.drawing"
                            ]
                        }
                    },
                    {
                        "name": "watch",
                        "type": "select",
                        "label": "Watch",
                        "required": true,
                        "validate": {
                            "enum": [
                                "onlyNew",
                                "allChanges"
                            ]
                        }
                    },
                    {
                        "name": "maxResults",
                        "type": "uinteger",
                        "label": "Maximum number of downloaded files",
                        "required": true
                    },
                    {
                        "name": "formatDocuments",
                        "type": "select",
                        "label": "Convert Google Documents files to format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                                "application/pdf",
                                "application/vnd.oasis.opendocument.text",
                                "text/html",
                                "text/plain",
                                "application/rtf"
                            ]
                        }
                    },
                    {
                        "name": "formatSpreadsheets",
                        "type": "select",
                        "label": "Convert Google Spreadsheets files to format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                                "application/x-vnd.oasis.opendocument.spreadsheet",
                                "application/pdf"
                            ]
                        }
                    },
                    {
                        "name": "formatPresentations",
                        "type": "select",
                        "label": "Convert Google Slides files to format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.presentationml.presentation",
                                "application/pdf"
                            ]
                        }
                    },
                    {
                        "name": "formatDrawings",
                        "type": "select",
                        "label": "Convert Google Drawings files to format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "image/jpeg",
                                "image/png",
                                "image/svg+xml",
                                "application/pdf"
                            ]
                        }
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "Select the folder to be watched.",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "google-drive:ActionGetFile",
            "version": 3,
            "parameters": {
                "account": 1032006,
                "formatDrawings": "image/jpeg",
                "formatDocuments": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                "formatSpreadsheets": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                "formatPresentations": "application/vnd.openxmlformats-officedocument.presentationml.presentation"
            },
            "mapper": {
                "id": "{{1.id}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "account": {
                        "label": "My Google connection (khyquer.oliveira@gmail.com)"
                    },
                    "formatDrawings": {
                        "label": "JPEG"
                    },
                    "formatDocuments": {
                        "label": "MS Word Document"
                    },
                    "formatSpreadsheets": {
                        "label": "MS Excel"
                    },
                    "formatPresentations": {
                        "label": "MS PowerPoint"
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "formatDocuments",
                        "type": "select",
                        "label": "Convert Google Documents files to format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                                "application/pdf",
                                "application/vnd.oasis.opendocument.text",
                                "text/html",
                                "text/plain",
                                "application/rtf"
                            ]
                        }
                    },
                    {
                        "name": "formatSpreadsheets",
                        "type": "select",
                        "label": "Convert Google Spreadsheets files to format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                                "application/x-vnd.oasis.opendocument.spreadsheet",
                                "application/pdf"
                            ]
                        }
                    },
                    {
                        "name": "formatPresentations",
                        "type": "select",
                        "label": "Convert Google Slides files to format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.presentationml.presentation",
                                "application/pdf"
                            ]
                        }
                    },
                    {
                        "name": "formatDrawings",
                        "type": "select",
                        "label": "Convert Google Drawings files to format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "image/jpeg",
                                "image/png",
                                "image/svg+xml",
                                "application/pdf"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "File ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "csv:ParseCSV",
            "version": 1,
            "parameters": {
                "relax": false,
                "colCount": 15,
                "delimiterType": "\t",
                "csvContainsHeaders": true
            },
            "mapper": {
                "csv": "{{3.data}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "delimiterType": {
                        "label": "Tab"
                    }
                },
                "parameters": [
                    {
                        "name": "colCount",
                        "type": "number",
                        "label": "Number of columns",
                        "required": true
                    },
                    {
                        "name": "csvContainsHeaders",
                        "type": "boolean",
                        "label": "CSV contains headers",
                        "required": true
                    },
                    {
                        "name": "delimiterType",
                        "type": "select",
                        "required": true,
                        "validate": {
                            "enum": [
                                ",",
                                "\t",
                                "other"
                            ]
                        }
                    },
                    {
                        "name": "relax",
                        "type": "boolean",
                        "label": "Preserve quotes inside unquoted field",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "csv",
                        "type": "text",
                        "label": "CSV",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "col1",
                        "type": "text",
                        "label": "Column 1"
                    },
                    {
                        "name": "col2",
                        "type": "text",
                        "label": "Column 2"
                    },
                    {
                        "name": "col3",
                        "type": "text",
                        "label": "Column 3"
                    },
                    {
                        "name": "col4",
                        "type": "text",
                        "label": "Column 4"
                    },
                    {
                        "name": "col5",
                        "type": "text",
                        "label": "Column 5"
                    },
                    {
                        "name": "col6",
                        "type": "text",
                        "label": "Column 6"
                    },
                    {
                        "name": "col7",
                        "type": "text",
                        "label": "Column 7"
                    },
                    {
                        "name": "col8",
                        "type": "text",
                        "label": "Column 8"
                    },
                    {
                        "name": "col9",
                        "type": "text",
                        "label": "Column 9"
                    },
                    {
                        "name": "col10",
                        "type": "text",
                        "label": "Column 10"
                    },
                    {
                        "name": "col11",
                        "type": "text",
                        "label": "Column 11"
                    },
                    {
                        "name": "col12",
                        "type": "text",
                        "label": "Column 12"
                    },
                    {
                        "name": "col13",
                        "type": "text",
                        "label": "Column 13"
                    },
                    {
                        "name": "col14",
                        "type": "text",
                        "label": "Column 14"
                    },
                    {
                        "name": "col15",
                        "type": "text",
                        "label": "Column 15"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "util:FunctionIncrement",
            "version": 1,
            "parameters": {
                "reset": "scenario"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 967,
                    "y": 6
                },
                "restore": {
                    "reset": {
                        "label": "Never"
                    }
                },
                "parameters": [
                    {
                        "name": "reset",
                        "type": "select",
                        "label": "Reset a value",
                        "required": true,
                        "validate": {
                            "enum": [
                                "run",
                                "execution",
                                "scenario"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "postgres:InsertIntoTable",
            "version": 2,
            "parameters": {
                "table": "\"public\".\"importacao_convenios\"",
                "account": 1050177
            },
            "mapper": {
                "@id": "",
                "@nome": "{{8.col5}}",
                "@source": "{{3.fileName}}",
                "@convenio": "{{8.col1}}",
                "@ng_prest": "{{8.col7}}",
                "@matricula": "{{8.col4}}",
                "@created_at": "{{now}}",
                "@deleted_at": "",
                "@senha_guia": "{{8.col8}}",
                "@updated_at": "",
                "@valor_pago": "{{8.col12}}",
                "@id_convenio": "2",
                "@numero_guia": "{{8.col6}}",
                "@valor_glosa": "{{8.col13}}",
                "@codigo_motivo": "{{8.col15}}",
                "@codigo_produto": "{{8.col9}}",
                "@data_pagamento": "{{8.col2}}",
                "@lote_importacao": "{{6.i}}",
                "@descricao_motivo": "{{8.col14}}",
                "@numero_protocolo": "{{8.col3}}",
                "@descricao_produto": "{{8.col10}}",
                "@valor_apresentado": "{{8.col11}}"
            },
            "metadata": {
                "designer": {
                    "x": 1258,
                    "y": -24
                },
                "restore": {
                    "table": {
                        "label": "public.importacao_convenios"
                    },
                    "account": {
                        "label": "My PostgreSQL Time 10"
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "@id",
                        "type": "integer",
                        "label": "id"
                    },
                    {
                        "name": "@convenio",
                        "type": "text",
                        "label": "convenio"
                    },
                    {
                        "name": "@data_pagamento",
                        "type": "text",
                        "label": "data_pagamento"
                    },
                    {
                        "name": "@numero_protocolo",
                        "type": "text",
                        "label": "numero_protocolo"
                    },
                    {
                        "name": "@matricula",
                        "type": "text",
                        "label": "matricula"
                    },
                    {
                        "name": "@nome",
                        "type": "text",
                        "label": "nome"
                    },
                    {
                        "name": "@numero_guia",
                        "type": "text",
                        "label": "numero_guia"
                    },
                    {
                        "name": "@ng_prest",
                        "type": "text",
                        "label": "ng_prest"
                    },
                    {
                        "name": "@senha_guia",
                        "type": "text",
                        "label": "senha_guia"
                    },
                    {
                        "name": "@codigo_produto",
                        "type": "text",
                        "label": "codigo_produto"
                    },
                    {
                        "name": "@descricao_produto",
                        "type": "text",
                        "label": "descricao_produto"
                    },
                    {
                        "name": "@valor_apresentado",
                        "type": "text",
                        "label": "valor_apresentado"
                    },
                    {
                        "name": "@valor_pago",
                        "type": "text",
                        "label": "valor_pago"
                    },
                    {
                        "name": "@valor_glosa",
                        "type": "text",
                        "label": "valor_glosa"
                    },
                    {
                        "name": "@descricao_motivo",
                        "type": "text",
                        "label": "descricao_motivo"
                    },
                    {
                        "name": "@codigo_motivo",
                        "type": "text",
                        "label": "codigo_motivo"
                    },
                    {
                        "name": "@created_at",
                        "type": "text",
                        "label": "created_at"
                    },
                    {
                        "name": "@updated_at",
                        "type": "text",
                        "label": "updated_at"
                    },
                    {
                        "name": "@source",
                        "type": "text",
                        "label": "source"
                    },
                    {
                        "name": "@lote_importacao",
                        "type": "text",
                        "label": "lote_importacao"
                    },
                    {
                        "name": "@id_convenio",
                        "type": "integer",
                        "label": "id_convenio"
                    },
                    {
                        "name": "@deleted_at",
                        "type": "text",
                        "label": "deleted_at"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.integromat.com"
    }
}